/* Reset CSS" (réinitialisation) */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Déclaration de variables personnalisées */
:root {
  /* palette */
  --main-white: #dddddd;
  --shade-white: #d3d3d3;
  --main-black: #181818;
  --main-yellow: #e6d28c;
  --dark-yellow: #f4cb38;

  /* Fonts */
  --base-font: Open sans, sans-serif;
  --title-font: Merriweather, serif;

  /* Font-size */
  --fs-14: 0.875rem;
  --fs-16: 1rem; /* --fs-16: 1rem => ça veut dire 1rem c'est 16px */
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-36: 2.25rem;
  --fs-42: 2.625rem;
  --fs-50: 3.125rem;
  --fs-72: 4.5rem; /* Exemple : 72/16 => 4.5rem */
}

body {
  font-family: var(--base-font);
}

/**************************************************************/

/* GLOBAL UTILITY CLASSES */
.section-title {
  font-family: var(--title-font);
  font-size: var(--fs-36);
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

/* on gère l'image */
.section-title img {
  width: 50px;
  margin-left: 8px;
}

.section-subtitle {
  font-size: var(--fs-20);
  margin-bottom: 72px;
  text-align: center;
}

.heading-h3 {
  font-size: var(--fs-20);
  display: flex;
  align-items: center;
}

.heading-h3 img {
  width: 36px;
  margin-right: 6px;
}

.heading-h4 {
  font-size: var(--fs-20);
}

.heading-h3,
.heading-h4 {
  font-family: var(--title-font);
  text-transform: uppercase;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* MEDIA QUERIES GLOBAL UTILITY CLASSES */
@media (max-width: 1024px) {
  .section-title {
    font-size: var(--fs-30);
  }
  .section-title img {
    width: 42px;
  }
  .section-subtitle {
    font-size: var(--fs-20);
    margin-bottom: 52px;
  }
  .heading-h3 {
    font-size: var(--fs-18);
  }
  .heading-h3 img {
    width: 30px;
  }
  .container {
    max-width: 700px;
  }
}

@media (max-width: 750px) {
  .section-title {
    font-size: var(--fs-24);
  }
  .section-title img {
    width: 30px;
  }
  .section-subtitle {
    font-size: var(--fs-16);
  }
  .heading-h3 {
    font-size: var(--fs-16);
  }
}

@media (max-width: 525px) {
  .section-title {
    font-size: var(--fs-20);
  }
  .section-subtitle {
    font-size: var(--fs-14);
  }
  .heading-h3 img {
    width: 20px;
  }
}

/**************************************************************/

/* NAVIGATION */
.main-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background-color: var(--main-yellow);
  padding: 16px;
  border-bottom: 1px solid var(--main-black);
}

.main-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.main-nav a {
  margin: 0 12px;
  padding: 8px;
  border-radius: 2px;
  color: var(--main-black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

.main-nav a:hover {
  background-color: var(--main-black);
  color: var(--main-yellow);
}

/* On cache le toggler */
.nav-toggler {
  display: none;
}

.main-nav img {
  width: 20px;
}

/* MEDIA QUERIES NAVIGATION */
@media (max-width: 1024px) {
  .main-nav a {
    font-size: var(--fs-14);
    padding: 6px;
  }
}

@media (max-width: 525px) {
  .main-nav {
    display: flex;
    order: 1;
  }
  .main-nav ul {
    padding: 52px 0 20px;
    display: none;
    flex-direction: column;
  }
  .main-nav ul li {
    margin: 6px 0;
  }
  .main-nav.active ul {
    display: flex;
  }
  .nav-toggler {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    align-self: baseline;
    background: none;
    border: none;
    cursor: pointer;
  }
  .nav-toggler img {
    width: 20px;
  }
}
/**********/

/* HERO */
.hero {
  min-height: 750px;
  padding-top: 200px;
  background-image: url(ressources/hero-background.jpg);
  background-size: cover;
  background-position: 50% 20%; /* 50% => axe X, 20% => axe Y */
  position: relative;
  text-align: center;
}

.main-title {
  font-family: var(--title-font);
  font-size: var(--fs-72);
  color: var(--main-white);
  font-weight: 900;
}

.main-subtitle {
  font-size: var(--fs-30);
  margin-bottom: 28px;
  color: var(--shade-white);
  font-weight: 300;
}

.hero-link {
  min-width: 155px;
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-black);
}

.hero-link span {
  text-decoration: underline dotted;
  text-decoration-color: var(--main-black);
  text-underline-offset: 4px;
  position: relative;
  bottom: 2px; /* Petite retouche qui permet de ne pas rajouter de contenu ! avec position en relative et le botton !! */
}

.hero-link img {
  margin-left: 2px;
  width: 24px;
}

.hero-link span,
.hero-link img {
  pointer-events: none;
}

.hero-link-1 {
  background-color: var(--main-yellow);
}
.hero-link-1:hover {
  background-color: var(--dark-yellow);
}

.hero-link-2 {
  background-color: var(--main-white);
  color: var(--main-black);
  margin-left: 12px;
}
.hero-link-2:hover {
  background-color: var(--shade-white);
}

.push-down-hero {
  display: none;
}

/*
il servait à gérer les images en grand!
C'est le => .hero-link img{ à la ligne 171 qui s'en charge maintenant !
.hero img {
  width: 20px;
}
*/

/* MEDIA QUERIES HERO */
@media (max-width: 1024px) {
  .hero {
    min-height: 600px;
    padding-top: 145px;
  }
  .main-title {
    font-size: var(--fs-50);
  }
  .main-subtitle {
    font-size: var(--fs-30);
  }
}

@media (max-width: 750px) {
  .main-title {
    font-size: var(--fs-36);
  }
  .main-subtitle {
    font-size: var(--fs-24);
  }
  .hero-link {
    min-width: 110px;
    padding: 8px 6px;
    font-size: var(--fs-14);
  }
  .hero-link img {
    display: none;
  }
  .push-down-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-black);
    border: 1px solid var(--main-white);
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .push-down-hero img {
    width: 20px;
    pointer-events: none;
  }
}

@media (max-width: 525px) {
  .hero {
    padding-top: 125px;
    min-height: 500px;
  }
  .hero-link {
    padding: 6px;
  }
  .main-title {
    font-size: var(--fs-24);
  }
  .main-subtitle {
    font-size: var(--fs-20);
  }
}

/**********/

/* ABOUT */
.about {
  padding: 50px 20px 125px;
  background-color: var(--main-white);
}

.about-content {
  display: flex;
}

.about-text {
  width: 60%;
  margin-right: 96px;
}

.about-text .heading-h3 {
  margin-bottom: 12px;
}

.about-text p {
  line-height: 1.4;
}

.about-text p:nth-child(2) {
  margin-bottom: 44px;
}

.about-slideshow {
  width: 40%;
}
